
{% extends 'base.html' %}

{% block title %}Account Info{% endblock %}

{% block body %}
<header>
    <a href="/account">Account</a>
    <a href="/criteria">Criteria</a>
    <a href="/add-criteria">Add criteria</a>
    <a href="/logout" id="logout">Log out</a>
</header>

<main>
    <div class="container">

        {% if current_user.is_authenticated %}
        Hi {{ current_user.username }}!
        {% endif %}
        <br>
        <p class="main-link">
            <a href="/criteria" id="criteria">List all criteria</a>
        </p>
        <p class="main-link">
            <a href="/add-criteria" id="add-criteria">Add a new search criteria</a>
        </p>
        <p class="main-link">
            <a href="/change-info" id="change-info">Change account information</a>
        </p>
    </div>
</main>
{% endblock %}