
{% extends 'base.html' %}

{% block title %}Account Info{% endblock %}

{% block body %}
<header>
    <a href="/account">Account</a>
    <a href="/criteria">Criteria</a>
    <a href="/add-criteria">Add criteria</a>
    <a href="/logout" id="logout">Log out</a>
</header>

<main>
    {% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!
    {% endif %}
    <br>
    <a href="/criteria" id="criteria">
        <p>List all criteria</p>
    </a>
    <a href="/add-criteria" id="add-criteria">
        <p>Add a new search criteria</p>
    </a>
    <a href="/change-info" id="change-info">
        <p>Change account information</p>
    </a>
</main>
{% endblock %}