<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <a href="/account">Account</a>
    <br>
    <a href="/criteria">Criteria</a>
    <br>
    <p>Create a new search criteria</p>





    <a href="/add-criteria/body-style" id="add-body-style">Add a body style search</a>
    <br>
    {% for make in makes %}
    <a href="/add-criteria/{{ make['make_name'] }}" class="add-make" id="{{ make['make_name'] }}">Add a {{
        make['make_name'] }} search</a><br>
    {% endfor %}



    <script src="" async defer></script>
</body>

</html>