{% extends 'base.html' %}

{% block title %}Add Make/Model Criteria{% endblock %}

{% block body %}
<header>
    <a href="/account">Account</a>
    <a href="/criteria">Criteria</a>
    <a href="/add-criteria">Add criteria</a>
    <a href="/logout" id="logout">Log out</a>
</header>

<main>
    <div class="container">
        <a href="/criteria">View criteria</a>
        <br>
        <form method="POST" id="add-criteria-form">
            {{ form.csrf_token }}
            {{ form.min_year.label }} {{ form.min_year }}
            {% if form.min_year.errors %}
            <ul class="errors">{% for error in form.min_year.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.max_year.label }} {{ form.max_year }}
            {% if form.max_year.errors %}
            <ul class="errors">{% for error in form.max_year.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.min_price.label }} {{ form.min_price }}
            {% if form.min_price.errors %}
            <ul class="errors">{% for error in form.min_price.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.max_price.label }} {{ form.max_price }}
            {% if form.max_price.errors %}
            <ul class="errors">{% for error in form.max_price.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.max_mileage.label }} {{ form.max_mileage }}
            {% if form.max_mileage.errors %}
            <ul class="errors">{% for error in form.max_mileage.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.search_distance.label }} {{ form.search_distance }}
            <select name="dist-units" id="dist-units">
                <option value="mi">mi</option>
                <option value="km">km</option>
            </select>
            {% if form.search_distance.errors %}
            <ul class="errors">{% for error in form.search_distance.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.no_accidents.label }} {{ form.no_accidents }}
            {% if form.no_accidents.errors %}
            <ul class="errors">{% for error in form.no_accidents.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.single_owner.label }} {{ form.single_owner }}
            {% if form.single_owner.errors %}
            <ul class="errors">{% for error in form.single_owner.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.model_name.label }} {{ form.model_name }}
            {% if form.model_name.errors %}
            <ul class="errors">{% for error in form.model_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            {{ form.zip_code.label }} {{ form.zip_code }}
            {% if form.zip_code.errors %}
            <ul class="errors">{% for error in form.zip_code.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            <br>
            <input class="submit-input" id="add-criteria" value="Create criteria" data-formaction="/add-criteria/{{ make }}">
            <input class="submit-input" id="add-criteria-search" value="Create criteria and run search" data-formaction="/add-criteria/{{ make }}?start_search=true">
        </form>
    </div>
</main>
{% endblock %}

{% block script %}/static/scripts/add-criteria-make-model.js{% endblock %}