{% extends 'base.html' %}

{% block title %}Add Criteria{% endblock %}

{% block body %}
<header>
    <a href="/account">Account</a>
    <a href="/criteria">Criteria</a>
    <a href="/add-criteria">Add criteria</a>
    <a href="/logout" id="logout">Log out</a>
</header>

<main>
    <div class="container">
        <p>Create a new search criteria</p>
        <p class="main-link">
            <a href="/add-criteria/body-style" id="add-body-style">Add a body style search</a>
        </p>
        Add criteria by make
        <form action="/add-criteria" method="post">
            <select name="make" class="make">
                {% for make in makes %}
                <option value="{{ make['make_name'] }}" id="{{ make['make_name'] }}" class="make-opt">{{ make['make_name'] }}</option>
                {% endfor %}
            </select>
            <button type="submit" value="Add Criteria" id="submit">Add Criteria</button>
        </form>
    </div>
</main>
{% endblock %}