<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ current_user.username }}'s Criteria</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <a href="/account">Account</a>
    <br>
    <a href="/add-criteria">Add criteria</a>
    <br>
    {% if criteria %}
    <table>
        <tr>
            {% for key in key_list %}
            <th>{{ key_map[key] }}</th>
            {% endfor %}
        </tr>
        {% for row in criteria %}
        <tr>
            {% for key in key_list %}
            <td id="{{ key }}">{{ row[key] }}</td>
            {% endfor %}
            <td id="view-cars">
                <a href="/found-cars/{{ row['id'] }}">View found cars</a>
            </td>
            <td id="start-search">
                <form action="/start-search/{{ row['id'] }}" method="POST" id="{{ row['id'] }}">
                    <button type="submit" id="{{ row['id'] }}" form="{{ row['id'] }}" name="{{ row['id'] }}">Run search now</button>
                </form>
                <!-- <a href="/start-search/{{ row['id'] }}">Run search now</a> -->
            </td>
            <td id="remove-criteria">
                <form action="/remove-criteria/{{ row['id'] }}" method="POST" id="{{ row['id'] }}">
                    <button type="submit" id="{{ row['id'] }}" form="{{ row['id'] }}" name="{{ row['id'] }}">Remove</button>
                </form>
            </td>
            
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No criteria to display.</p>
    {% endif %}
    <script src="" async defer></script>
</body>

</html>