{% extends 'base.html' %}

{% block title %}Found Cars{% endblock %}

{% block body %}
<header>
    <a href="/account">Account</a>
    <a href="/criteria">Criteria</a>
    <a href="/add-criteria">Add criteria</a>
    <a href="/logout" id="logout">Log out</a>
</header>

<main>
    <div class="container">

        
        Showing results for 
        {% if criteria_data["model_id"] != None %}
        {{ criteria_data["make_name"]}} {{ criteria_data["model_name"]}}
        {% else %}
        {{ criteria_data["body_style_name"]}}
        {% endif %}
        under {{ criteria_data["max_mileage"]}} miles from model year {{ criteria_data["min_year"]}} to {{ criteria_data["max_year"]}}  within {{ criteria_data["search_distance"]}} miles of zip code {{ criteria_data["zip_code"]}}
        
        <form action="/start-search/{{ criteria_data['id'] }}" method="POST" id="{{ criteria_data['id'] }}-start-search">
            <button type="submit" id="{{ criteria_data['id'] }}" form="{{ criteria_data['id'] }}-start-search" name="{{ criteria_data['id'] }}">Run search now</button>
        </form>
        
        <form action="/remove-criteria/{{ criteria_data['id'] }}" method="POST" id="{{ criteria_data['id'] }}-remove-criteria">
            <button type="submit" id="{{ criteria_data['id'] }}" form="{{ criteria_data['id'] }}-remove-criteria" name="{{ criteria_data['id'] }}">Delete criteria</button>
        </form>
        
        <form action="/send-car-alerts/{{ criteria_data['id'] }}" method="POST" id="{{ criteria_data['id'] }}-send-all-cars">
            <button type="submit" id="{{ criteria_data['id'] }}" form="{{ criteria_data['id'] }}-send-all-cars" name="{{ criteria_data['id'] }}">Email all cars found</button>
        </form>
        
        <form action="/send-new-alerts/{{ criteria_data['id'] }}" method="POST" id="{{ criteria_data['id'] }}-send-pending-alerts">
            <button type="submit" id="{{ criteria_data['id'] }}" form="{{ criteria_data['id'] }}-send-pending-alerts" name="{{ criteria_data['id'] }}">Email pending alerts</button>
        </form>
        
        
        {% if cars %}
        <table>
            <tr>
                {% for key in table_headers %}
                <th>{{ table_headers[key] }}</th>
                {% endfor %}
            </tr>
            {% for car in cars %}
            <tr>
                <td>${{ car["last_price"] }}</td>
                <td>{{ car["model_year"] }}</td>
                <td><a href="{{ car['listing_url'] }}" target="_blank">Link</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No cars to display.</p>
        {% endif %}
    </div>
</main>
{% endblock %}